* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #e6e6fa; 
    
}

header {
    background-color: #5f27cd;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #341f97;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    text-align: center;
    margin: 20px 0;
}

input {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px;
    background-color: #009432;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

#botao-cancelar {
    background-color: red;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 400px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
}

ul li:last-child {
    border-bottom: none; 
}

ul li.completed {
    text-decoration: line-through; 
    color: gray; 
}

ul li.new-item {
    background-color: #d1e7dd; 
    transform: scale(1.05);
}